[Unit]
Description=IP_Script
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
ExecStart=/etc/init.d/ipaddress.sh  
Restart=on-failure
RestartSec=10
Type=notify


[Install]
WantedBy=multi-user.target

